{% extends "base.html" %}


{% block title %}About{% endblock title %}
{% block body %}
<div class="container text-center mx-4 ">
    <h1>About us </h1>
    <p>A well-designed and professional website for every brand to excel in the industry is vital. Creating a professional business website is a must to reach more customers and unlock more opportunities for the ice cream business. Now we are here with a creative, modern, unique, and responsive free ice cream shop website template to inspire web designers and entrepreneurs.

        iCREAM – free ice cream shop HTML template is perfect for ice cream shops, coffee shops, bakeries, cakes & bread shops, pastry shops, cookies shops, restaurants, yogurt, and other similar businesses. iCREAM has a beautiful and unique design that will be the best choice for your online ice cream store. It has a fully responsive layout and tested on all major devices’ screens.
        
        iCREAM – free ice cream shop Bootstrap template is designed with Bootstrap v4 which is the most popular HTML, CSS, and JS framework for designing responsive and mobile-first websites. The template is fully customizable and very easy to use. You will find very developer-friendly and well-commented code that will help you to create your ice cream shop business website easily within a very quick time</p>

{% endblock body %}