{% extends "base.html" %}


{% block title %}contact{% endblock title %}
{% block body %}
<div class="container-fluid text-center mx-4 px-0">
    <h1>Contact US</h1>
    <img src="https://source.unsplash.com/2000x600/?phone,contact" class="d-block w-100" alt="...">
</div>
<form method="post" action="/contact">
    {% csrf_token %}
<div class="text-center ">
<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input class="form-control" type="text" id="name" name='name'>
  </div>
  <div class="mb-3">
    <label for="contact" class="form-label">contact</label>
    <input class="form-control" type="number" id="contact" name="contact" multiple>
  </div>
  <div class="mb-3">
    <label for="Email" class="form-label">Email address</label>
    <input class="form-control" type="text" id="email" name="email">
  </div>
  <div class="mb-3">
    <label for="discription" class="form-label">discription</label>
    <input class="form-control form-control-sm" id="Discription" name="discripation" type="text">
  </div>

  <button class="btn btn-primary">submit</button>
</div>
</form>

{% endblock body %}